/* grid.css */
.container-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
}

@media (min-width: 800px) {
    .container-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1200px) {
    .container-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1400px) {
    .container-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 1600px) {
    .container-grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

.container-grid-mobile {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

/* Make each card sit on top of the previous one */
.container-grid-mobile > * {
    position: relative;
    margin-top: -3rem;
}

.container-grid-mobile > :first-child {
    margin-top: 0;
}

/* .container-grid-mobile > :hover {
    margin-top: 0;
} */